Que : Convert an integer to a floating-point number

Ans -

            a = 100
convert -> a = float(a)

In [3]:
a = 100
a = float(a)

In [4]:
type(a)

float

Que : Convert a float to an integer

Ans:

b = 33.5
b = int(33.5)

or


b = 33.5
b = int(b)

In [6]:
b = 33.5
b = int(33.5)
type(b)

int

In [7]:
b = 33.5
b = int(b)
type(b)

int

Que :  Convert an integer to a string

Ans:

b = 50
b = str(b)

In [9]:
b = 50
b = str(b)
type(b)

str

In [10]:
b

'50'

Que : Convert a list to a tuple.

Ans:

            a = [1,2,3,4]
Convert -> a = tuple(a)

In [11]:
a = [1,2,3,4]
a = tuple(a)
a

(1, 2, 3, 4)

Que : Convert a tuple to a list

Ans:
        x = (5,6,7,8)
        
       Convert->  x = list(x)

In [13]:
x = (5,6,7,8)
x = list(x)
x , type(x)

([5, 6, 7, 8], list)

Que : Convert a decimal number to binary

Ans:
    
   decimal = 100
print(bin(decimal)[2:])

In [17]:
decimal = 100
print(bin(decimal)[2:])

1100100

In [18]:
decimal = 111
print(bin(decimal)[2:])

1101111

Que : Convert a non-zero number to boolean

Ans:
    
    m = 100
n = 0

print(bool(m))
print(bool(n))

In [ ]:
m = 100
n = 0

print(bool(m))
print(bool(n))